<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>NewsApp</title>
</head>
<body>
    <header>
      <div class="logo">
        <img src="../assets/DAALogo.svg" alt="Logo" />
      </div>
      <div id="weather-placeholder" class="weather-widget">
      </div>
    </header>

    <main>
        <aside id="traffic-placeholder">
            OPNV
        </aside>
        <section id="news-placeholder">
            Cards for news
        </section>
    </main>

    <footer>
        <div class="partner-banderole">
            <img src="../assets/BBBLogo.svg" alt="BBB Logo" />
            <img src="../assets/BundesamtMuFLogo.svg" alt="Bundesamt Logo" />
            <img src="../assets/DAATechnikumLogo.svg" alt="DAA Logo" />
            <img src="../assets/DatevLogo.svg" alt="Datev Logo" />
            <img src="../assets/HFHLogo.svg" alt="HFH Logo" />
            <img src="../assets/SAPLogo.svg" alt="SAP Logo" />
            <img src="../assets/ZertifikatAuditLogo.svg" alt="Zertifikat Logo" />
        </div>
    </footer>

    <script src="../assets/index.js"></script>
</body>
</html>